<footer>
    <div class="footer sticky-bottom">
        <div class="f-social">
            <a href="https://www.instagram.com/5urajgupta?igsh=MTE3djJ1ZzNvcmNnbw==" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/share/1KCafWMWeZ/" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://linkedin.com/in/suraj-gupta9161" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-company">WanderLust Private Limited</div>
        <div class="f-social-links">
            <a href="/privacy">Privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>