<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <div class="ms-auto">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 search-box" type="search" placeholder="Search Destinations"
                                aria-label="Search" />
                            <button class="btn btn-outline-success search-btn" type="submit"><i
                                    class="fa-solid fa-magnifying-glass"></i>Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <% if(!currUser) {%>
                    <a class="nav-link nav-btn signup" href="/signup"><b>Signup</b></a>
                    <a class="nav-link nav-btn " href="/login"><b>Login</b></a>
                    <% } %>
                        <% if(currUser) {%>
                            <a class="nav-link btn-danger nav-btn logout" href="/logout"><b>Logout</b></a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>