<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3 class="allListing">All Listings</h3>
        <div class="card-container">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%=listing._id %>">
                    <div class="card card-style" style="width: 18rem;">
                        <img src="<%=listing.image.url %>" class="card-img-top" alt="listings-image">
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%=listing.title %>
                                </b> <br>
                                &#8377 <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>

                            </p>

                        </div>

                    </div>
                </a>
                <% } %>
        </div>
    </body>

    </html>