<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h2>Create New Listing</h2>
        <form method="POST" action="/listings">
            <input type="text" placeholder="enter title" name="list[title]"><br><br>
            <textarea name="description" placeholder="enter description" rows="5" cols="20"></textarea><br><br>
            <input type="text" placeholder="enter image url" name="list[image]"><br><br>
            <input type="number" placeholder="enter price" name="list[price]"><br><br>
            <input type="text" placeholder="enter location" name="list[location]"><br><br>
            <input type="text" placeholder="enter country" name="list[country]"><br><br>
            <button>Submit</button>
        </form>
    </body>