body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 4rem;
}

.fa-compass {
    font-size: 32px;
    color: #fe424d;
}

.nav-link {
    color: #222222 !important;
}

.nav-link:hover {
    color: black;
    font-weight: 500;
}

.nav-btn {
    background-color: rgb(54, 137, 54) !important;
    border-radius: 10px;
    color: white !important;
}

.signup {
    background-color: rgb(68, 68, 130) !important;
}

.logout {
    background-color: red;
}

.navbar-nav {
    gap: 5px;
}

.footer {
    height: 6rem;
    background-color: rgb(187, 207, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.f-social i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.f-social a {
    text-decoration: none !important;
    color: black;
}

.f-company {
    font-size: 15px;
    font-weight: 500;
}

.f-social-links a {
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.f-social-links a:hover {
    text-decoration: underline;
}

/* listings */
.card-container {
    display: flex !important;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 30px;
}

.allListing {
    margin: 15px 0 15px 0;
}

.card-container a {
    text-decoration: none;
}

.card-style:hover {
    background-color: rgb(213, 196, 196);
    /* cursor: pointer; */
}

.card img {
    height: 18rem;
    object-fit: cover;
}

.card-body {
    margin: 0 !important;
    padding: 5px !important;
}

/* show ppage */

.show-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.show-card {
    border: none !important;
    max-width: 40rem;
}

.show-img {
    border-radius: 15px !important;
}

.show-btn {
    display: flex;
    gap: 20px;
}


.thumb {
    width: 250px;
    height: 150px;
    object-fit: cover;

}